@charset "UTF-8";
/* 반응형 화면 크기 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Montserrat", "Noto Sans KR", Malgun Gothic, sans-serif !important;
  font-size: 100%;
}

/* 아이폰 사파리에서 화면회전시 폰트 확대방지*/
* {
  -webkit-text-size-adjust: none;
}

/*Reset*/
html, body {
  width: 100%;
  overflow-x: hidden;
}

/* body {-webkit-overflow-scrolling:touch; overflow:auto;} */
/* body {overflow:auto; -webkit-overflow-scrolling:touch;} */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: #333;
}

a[href*="tel:"] {
  color: inherit;
}

a:focus {
  outline: none;
}

fieldset, img, input {
  border: 0;
  vertical-align: middle;
}

address {
  font-style: normal;
}

caption {
  height: 0;
  width: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
}

legend {
  display: none;
}

body, h1, h2, h3, h4, th, td, input {
  color: #333;
  font-weight: normal;
  letter-spacing: -0.5px;
}

strong {
  font-weight: 600;
}

/* a, span, p, div{word-break:break-all;} */
/* @font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:600;
	src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	src:url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
} */
.menu-open {
  overflow-y: hidden;
}

#header {
  box-sizing: border-box;
  background: #363636;
  height: 130px;
}
#header .inner {
  width: 1300px;
  min-width: 1300px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
#header .logo a {
  display: block;
}
#header nav .main-menu {
  display: block;
  color: #fff;
  font-size: 1.1em;
  width: 130px;
  text-align: center;
}
#header nav .close-btn {
  display: none;
}
#header .depth-1 {
  display: flex;
}
#header .depth-1 > li {
  position: relative;
  height: 130px;
  line-height: 130px;
}
#header .depth-1 > li:nth-child(5) .main-menu {
  color: #525252;
}
#header .depth-1 > li:last-child .main-menu {
  color: #525252;
}
#header .depth-2 {
  display: none;
  position: absolute;
  background: rgba(54, 54, 54, 0.7);
  top: 130px;
  left: 0;
  padding: 0 3%;
  text-align: center;
  width: 100%;
  z-index: 2;
}
#header .depth-2.off {
  display: none;
}
#header .depth-2.on {
  display: block;
}
#header .depth-2 a {
  display: block;
  color: #fff;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
}
#header .depth-3 {
  display: none;
}
#header .gnb-btn {
  display: none;
}

#aside {
  width: 90px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #d7d7d7;
  z-index: 50;
}
#aside li {
  position: relative;
}
#aside li:not(:last-child) {
  border-bottom: 1px solid #165650;
}
#aside li a {
  display: block;
}
#aside .scroll-top {
  display: block;
  padding: 30px 0;
  text-align: center;
  color: #666;
  cursor: pointer;
}
#aside .brunch-btn {
  display: flex;
  position: absolute;
  top: 25px;
  right: 100px;
  gap: 10px;
  width: 0;
  opacity: 0;
}
#aside .brunch-btn.on {
  opacity: 1;
  width: auto;
  transition: opacity 0.2s linear;
}
#aside .brunch-btn a {
  display: inline-block;
  color: #19625b;
  background-color: #fff;
  width: 65px;
  height: 65px;
  line-height: 65px;
  letter-spacing: -1px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
  word-break: keep-all;
  transition: 0.3s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
#aside .brunch-btn a:hover {
  transition: 0.3s;
  background: #5adfc4;
  color: #fff;
}

@media (max-width: 1300px) {
  #header .inner {
    width: 1000px;
    min-width: 1000px;
  }
  #aside {
    display: none;
  }
}
@media (max-width: 988px) {
  #header {
    overflow: hidden;
    padding: 0;
    height: 80px;
    line-height: 80px;
  }
  #header .inner {
    width: auto;
    min-width: auto;
    padding: 0 5%;
    display: inherit;
  }
  #header .logo {
    display: inline-block;
    margin: 0;
  }
  #header nav.menu-wrap {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 80vw;
    height: 100%;
    max-height: 100vh;
    background-color: #fff;
    z-index: 5;
    -webkit-transition: right 0.2s ease-out;
    transition: right 0.2s ease-out;
  }
  #header nav.menu-wrap .depth-1 {
    display: none;
  }
  #header nav.menu-wrap.show {
    right: 0;
    transition: right 0.5 ease-out;
  }
  #header nav.menu-wrap.show .close-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 1%;
    padding: 5%;
    cursor: pointer;
  }
  #header nav.menu-wrap.show .depth-1 {
    display: flex;
    margin: 20% 5% 0;
    gap: 20px;
    flex-wrap: wrap;
  }
  #header nav.menu-wrap.show .depth-1 > li {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  #header nav.menu-wrap.show .depth-1 > li:nth-child(5) .main-menu {
    color: #d9d9d9;
    font-weight: normal;
  }
  #header nav.menu-wrap.show .depth-1 > li:last-child .main-menu {
    color: #d9d9d9;
    font-weight: normal;
  }
  #header nav.menu-wrap.show .depth-1 .main-menu {
    font-weight: bold;
  }
  #header nav.menu-wrap.show .depth-1 a {
    color: #333;
    height: 30px;
    line-height: 30px;
  }
  #header nav.menu-wrap.show .main-menu {
    width: auto;
  }
  #header nav.menu-wrap.show .depth-2 {
    display: block;
    background: none;
    position: inherit;
    top: inherit;
    left: inherit;
    width: auto;
    margin-top: 5%;
    padding: 0;
  }
  #header .gnb-btn {
    display: block;
    float: right;
    background-color: transparent;
    border: none;
    color: #fff;
    line-height: 80px;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  #header {
    height: 70px;
    line-height: 70px;
  }
  #header .gnb-btn {
    line-height: 70px;
  }
  #header .depth-2 a {
    font-size: 0.92em;
  }
}
/* 
#header .gnb .depth_1 li .depth_3 > li.changed > a:after {bottom:-5px;}
#header .gnb .depth_1 li .depth_3 > li:first-child > a {padding-top:0;}

#header .gnb .depth_1 > li .depth_2 li a:after {content:''; display:inline-block; width:100%; height:1px; background:#555; position:absolute; left:0; top:25px; opacity:0;}
#header .gnb .depth_1 > li .depth_2 li a:hover:after {content:''; display:inline-block; width:100%; height:1px; background:#555; position:absolute; left:0; top:25px; opacity:1;}
.line {display:none; opacity:0; position:absolute; bottom:8px; left:0; width:100%; height:1px; background:#363636;}

#header .gnb .depth_1 li ul li.line > a:before {content:''; display:inline-block; width:100%; height:1px; position:absolute; bottom:-5px; background:#363636;}
 */
#footer {
  background-color: #222;
  height: 150px;
  padding: 25px 0;
}
#footer .inner {
  width: 1300px;
  min-width: 1300px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
#footer .footer_r {
  color: #fff;
}
#footer .footer_r ul {
  display: flex;
  margin-bottom: 20px;
}
#footer .footer_r li:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  background: #fff;
  margin: 0 10px;
}
#footer .footer_r a {
  color: #fff;
}
#footer .footer_r address {
  line-height: 23px;
}
#footer .footer_r p {
  display: inline-block;
}
#footer .footer_r p:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  background: #fff;
  margin: 0 10px;
}
#footer .footer_r .copyright {
  margin-top: 20px;
}

.nav-bg {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgb(0, 0, 0);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 1300px) {
  #footer .inner {
    width: 1000px;
    min-width: 1000px;
  }
}
@media (max-width: 988px) {
  #footer {
    height: auto;
    padding: 5% 0;
  }
  #footer .inner {
    width: auto;
    min-width: auto;
    padding: 0 5%;
    display: inherit;
  }
  #footer .logo {
    text-align: center;
    margin-bottom: 3%;
  }
  #footer .footer_r ul {
    margin: 2% 0;
  }
  #footer address p {
    word-break: keep-all;
  }
}
@media (max-width: 600px) {
  #footer {
    font-size: 0.95em;
  }
  #footer address {
    line-height: inherit;
  }
  #footer address p {
    display: block;
  }
  #footer address p::after {
    height: 0 !important;
  }
}
#main .inner {
  width: 1300px;
  min-width: 1300px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.sub-banner .text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
}
.sub-banner .text-wrap span {
  text-transform: uppercase;
  color: rgba(225, 255, 255, 0.7);
  font-weight: bold;
  font-size: 2.2em;
}
.sub-banner .text-wrap h2 {
  color: #fff;
  font-weight: bold;
  font-size: 2.5em;
  word-break: keep-all;
}
.sub-banner .text-wrap p {
  word-break: keep-all;
  margin-top: 2%;
  line-height: 26px;
}

.tit {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  word-break: keep-all;
}
.tit span {
  color: #5adfc4;
}

.desc {
  margin-top: 1.5%;
  word-break: keep-all;
  text-align: center;
  font-size: 1.1em;
  line-height: 30px;
}
.desc span {
  color: #5adfc4;
}

.cure-process {
  background-color: #dcf5f1;
}
.cure-process .cont-wrap {
  margin: 80px 0;
  padding: 80px 0;
}
.cure-process .box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 5%;
}
.cure-process h4 {
  background-color: #5adfc4;
  color: #fff;
  height: 38px;
  line-height: 38px;
  border-radius: 20px;
  margin-bottom: 7%;
  font-size: 1.15em;
  font-weight: bold;
}
.cure-process .subtitle {
  font-size: 1.05em;
  margin-bottom: 5%;
  font-weight: 500;
  word-break: keep-all;
}
.cure-process div[class*=step] {
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 10px;
}
.cure-process div[class*=step] p {
  line-height: 26px;
  padding: 20px 0;
  height: 155px;
}
.cure-process div[class*=step] img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.arrow-bg-wrap {
  text-align: center;
}
.arrow-bg-wrap::before {
  content: url("../images/sub/arrow_s.png");
  display: block;
  padding-bottom: 2%;
}

.qna-wrap {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.qna-wrap .box {
  flex: 1 1 40%;
}

.question {
  padding: 3% 5% 3% 10%;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  margin-bottom: 20px;
  word-break: keep-all;
  font-size: 1.12em;
  text-indent: -15px;
  cursor: pointer;
}
.question.on {
  background-color: #5adfc4;
  border-color: #5adfc4;
  color: #fff;
  font-weight: 600;
}
.question::before {
  content: "Q.";
  display: inline-block;
  padding-right: 10px;
}

.answer {
  line-height: 28px;
  font-size: 1.05em;
  text-indent: -15px;
  padding-left: 5%;
  height: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.answer::before {
  content: "A.";
}
.answer.on {
  transition: opacity 0.2s linear;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 5%;
  height: auto;
  opacity: 1;
  padding-right: 8px;
}

.bg-wrap .tit {
  text-align: left;
}
.bg-wrap ul {
  margin-top: 3%;
}
.bg-wrap ul li {
  display: flex;
  font-size: 1.05em;
  line-height: 28px;
  padding-bottom: 30px;
}
.bg-wrap ul span {
  color: #5adfc4;
  margin-right: 5px;
  font-weight: 600;
}
.bg-wrap ul p {
  word-break: keep-all;
}

@media (max-width: 1300px) {
  #main .inner {
    width: 1000px;
    min-width: 1000px;
  }
  .cure-process .cont-wrap .box-wrap {
    gap: 30px;
    justify-content: center;
  }
  .cure-process .cont-wrap .box-wrap .box {
    width: 33.333%;
  }
  .cure-process .cont-wrap .box-wrap img {
    width: 100%;
    height: auto;
  }
  .question {
    font-size: 1.05em;
  }
  .question::before {
    margin-left: 10px;
    padding-right: 3px;
  }
  .answer {
    font-size: 1em;
  }
}
@media (max-width: 988px) {
  #main .inner {
    width: auto;
    min-width: auto;
    padding: 0 5%;
    display: inherit;
  }
  .qna-wrap {
    margin-top: 8%;
  }
  .bg-wrap ul {
    width: 45%;
  }
  .bg-wrap br {
    display: inline-block;
    content: " ";
    padding: 0 2px;
  }
}
@media (max-width: 796px) {
  .tit {
    font-size: 1.5em;
  }
  .desc {
    font-size: 1em;
    margin-top: 3%;
    line-height: 25px;
  }
  .cure-process div[class*=step] p {
    padding: 5%;
    font-size: 0.95em;
  }
  .cure-process div[class*=step] p br {
    display: inline-block;
    content: " ";
    padding: 0 2px;
  }
  .cure-process .cont-wrap .box-wrap .box {
    flex: 1 1 40%;
  }
  .qna-wrap {
    display: inherit;
  }
}
@media (max-width: 600px) {
  .sub-banner .text-wrap {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
  }
  .sub-banner .text-wrap p {
    font-size: 0.9em;
  }
  .cure-process div[class*=step] p {
    height: auto;
  }
  .cure-process .box-wrap {
    margin-top: 8%;
  }
  .cure-process .box-wrap .box {
    flex: 1 1 50%;
  }
  .cure-process .cont-wrap .box-wrap .box {
    flex: auto;
    width: auto;
  }
}
.column {
  background-image: url("../images/subanner/banner_5.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 400px;
  position: relative;
}

.intro {
  background-image: url("../images/subanner/introduce_banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 400px;
  position: relative;
}

.intro-page small {
  display: block;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
.intro-page img {
  margin-top: 5%;
}
.intro-page .content-1 {
  padding: 80px 0;
  background-color: #dcf5f1;
}
.intro-page .content-1 .cont-wrap {
  text-align: center;
}
.intro-page .content-2 {
  margin: 80px 0;
  text-align: center;
}
.intro-page .content-3 {
  margin: 80px 0;
}
.intro-page .content-4 {
  padding: 80px 0;
  background-color: #f7f7f7;
}
.intro-page .content-4 img {
  display: block;
  margin: 0 auto;
  padding: 1% 0;
}

.column-page .inner img {
  object-fit: cover;
}
.column-page h3 {
  text-align: left;
  margin-bottom: 3%;
}
.column-page .content-1 .pick-column {
  padding: 80px 0;
  background-color: #f6f6f6;
}
.column-page .content-1 .pick-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}
.column-page .content-1 .cell {
  flex: 1 1 20%;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 2%;
  transition: all 0.2s ease-in-out;
}
.column-page .content-1 .cell:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.column-page .content-1 .cell:hover .title {
  text-decoration: underline;
}
.column-page .content-1 .cell div {
  padding: 5%;
}
.column-page .content-1 .cell .title {
  word-break: keep-all;
  min-height: 48px;
}
.column-page .content-1 .cell .writer {
  font-size: 0.85em;
  margin-top: 3%;
  color: #BBB;
}
.column-page .content-1 img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.column-page .content-2 .recent-list {
  margin: 80px 0;
}
.column-page .content-2 .recent-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3%;
}
.column-page .content-2 .cell {
  flex: 1 1 40%;
  border-bottom: 1px solid #eee;
  padding: 2% 0;
}
.column-page .content-2 .cell:first-child {
  border-top: 1px solid #eee;
}
.column-page .content-2 .cell:nth-child(2) {
  border-top: 1px solid #eee;
}
.column-page .content-2 .cell:hover .title {
  text-decoration: underline;
}
.column-page .content-2 .cell a {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.column-page .content-2 .cell a div {
  width: 70%;
}
.column-page .content-2 .cell .tag {
  color: #5adfc4;
  font-size: 0.85em;
}
.column-page .content-2 .cell .title {
  margin: 2.5% 0 4%;
  line-height: 23px;
  color: #000;
}
.column-page .content-2 .cell .content {
  font-size: 0.9em;
  margin-bottom: 3%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.column-page .content-2 .cell .date {
  font-size: 0.85em;
}
.column-page .content-2 .cell .writer {
  font-size: 0.85em;
}
.column-page .content-2 .cell img {
  width: 120px;
  height: 120px;
}

@media (max-width: 988px) {
  .intro-page .content-1 img {
    width: 100%;
    height: auto;
  }
  .intro-page .content-2 img {
    width: 100%;
    height: auto;
  }
  .intro-page .content-3 br {
    display: inline-block;
    content: " ";
    padding: 0 2px;
  }
  .column-page .pick-wrap {
    gap: 3%;
  }
  .column-page .pick-wrap .cell {
    flex: 1 1 30%;
    margin-bottom: 3%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }
  .column-page .pick-wrap .cell:nth-child(7) {
    flex-grow: 0.15;
  }
  .column-page .pick-wrap .cell:last-child {
    flex-grow: 0.15;
  }
}
@media (max-width: 796px) {
  .intro-page br {
    display: inline-block;
    content: " ";
    padding: 0 2px;
  }
  .column-page .content-1 .pick-wrap .cell {
    flex: 1 1 40%;
  }
  .column-page .content-1 .pick-wrap img {
    height: 170px;
  }
  .column-page .content-2 .cell a div {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .column-page .content-1 .pick-wrap {
    display: inherit;
  }
  .column-page .content-1 .pick-wrap .cell .title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.95em;
  }
  .column-page .content-2 .recent-wrap .cell {
    flex: 1 1 50%;
  }
  .column-page .content-2 .recent-wrap .cell:first-child {
    border-bottom: 0;
  }
  .column-page .content-2 .recent-wrap .cell a div {
    width: 70%;
  }
}

/*# sourceMappingURL=introduce.css.map */
